---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Image from "astro/components/Image.astro";
const dansehold = await Astro.glob("./dansehold/*.md");
const sorterededansehold = dansehold.sort((a, b) => Date.parse(b.frontmatter.dato) - Date.parse(a.frontmatter.dato));
const udvalgtedansehold = sorterededansehold.slice(0, 6);
const workshops = await Astro.glob("./workshops/*.md");
const sorteredeworkshops = workshops.sort((a, b) => Date.parse(b.frontmatter.dato) - Date.parse(a.frontmatter.dato));
const udvalgteworkshops = sorteredeworkshops.slice(0, 6);
---

<MainLayout title="Dansestudiet">
  <div class="h-52 bg-pink-50 grid justify-items-center"><h1 class="mb-10 mt-20 font-hero text-rod-600 text-8xl">DANSESTUDIET</h1></div>
  <div class="relative -z-10 -top-10 h-20 -rotate-3 bg-pink-50"></div>
  <article class="relative -z-20 -top-16 bg-cover h-700 bg-[url('/hero.jpg')]"></article>
  <div class="h-96 bg-pink-50 mb-16 grid justify-items-center">
    <div><p class="mt-10 text-sm xl:text-lg text-rod-500 text-center max-w-2xl">Vi har mere end 50 danseklasser on ugen for alle aldre og niveauer! <br /> <br /> Experimental Contemporary, Afro, House, Street Jazz, Commercial Femme, Hip Hop, Ballet, Moderne Dans, Smidighedstræning, House, Breakdance,Fusion Contemporary, Yoga, Waacking, Workshops m.m. <br /> <br /> Tilmeldning til efterårssæsonen 2023 er fortsat åben.</p></div>
    <Button>SE KLASSERNE HER</Button>
  </div>

  <div class="grid justify-items-center"><h2 class="mb-8 text-pink-50 font-hero text-2xl lg:text-4xl">Dansehold denne sæson</h2></div>

  <!-- alt hvad der omhandler lists til nyheder -->

  <section class="mb-16 p-4 relative lg:mx-28 ">
    <ul id="wrapper" class="flex flex-row overflow-hidden gap-5 snap-x">
      {
        udvalgtedansehold.map((post) => (
          <li id="slide" class="max-w-sm duration-700 hover:scale-105 ease-in-out shrink-0 snap-center">
            <div class="w-72 grid justify-items-center text-center text-rod-600 bg-pink-100 mt-2 p-2">
              <div class="">
                <img src={post.frontmatter.coverimage} alt={post.frontmatter.coveralt} class="h-28 w-28 my-5" />
              </div>
              <div class=" text-left">
                <h3 class="text-lg font-bold">
                  <a class href={post.url} class="text-persianmosaic-700">
                    {post.frontmatter.title}
                  </a>
                </h3>
                <p class="text-sm">Underviser: {post.frontmatter.underviser}</p>
                <span class="text-xs">{post.frontmatter.dato}</span>
                <p class="text-sm">Niveau: {post.frontmatter.niveau}</p>
                <p class="text-sm">Pris: {post.frontmatter.pris}</p>
                <p class="text-sm">Sted: {post.frontmatter.sted}</p>
                <p class="text-sm"> {post.frontmatter.kortversion}</p>
                <a href={post.url} class="">
                  <div class="m-5">
                    {" "}
                    <Button>LÆS MERE</Button>
                  </div>
                </a>
              </div>
            </div>
          </li>
        ))
      }
    </ul>

    <!-- slut på alt hvad der omhandler lists til nyheder -->
    <button id="prevbtn" type="button" class="flex absolute top-1/2 left-3 z-40 items-center justify-center w-10 h-5 bg-rod-300 hover:bg-rod-600 focus:outline-none transition">
      <svg class="w-5 h-5 text-pink-50" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-width="3" d="M15 19l-7-7 7-7"></path>
      </svg>
    </button>
    <button id="nextbtn" type="button" class="flex absolute top-1/2 right-3 z-40 items-center justify-center w-10 h-5 bg-rod-300 hover:bg-rod-600 focus:outline-none transition">
      <svg class="w-5 h-5 text-pink-50" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-width="3" d="M9 5l7 7-7 7"></path>
      </svg>
    </button>
  </section>
  <div class="grid justify-items-center h-600 lg:m-32 bg-pink-50">
    <p class="my-270 font-dansedisplay text-2xl">Video om lærerne/holdene</p>
  </div>
  <div class="grid justify-items-center"><h2 class="mb-8 mt-6 text-pink-50 font-hero text-4xl">Workshops</h2></div>

  <section class="mb-16 p-4 relative mx-28">
    <ul id="wrapper" class="flex flex-row overflow-hidden gap-5 snap-x">
      {
        udvalgteworkshops.map((post) => (
          <li id="slide" class="max-w-sm duration-700 hover:scale-105 ease-in-out shrink-0 snap-center">
            <div class="w-72 grid justify-items-center text-center text-rod-600 bg-pink-100 mt-2 p-2">
              <div class="">
                <img src={post.frontmatter.wscoverimage} alt={post.frontmatter.wscoveralt} class=" w-60 my-5" />
              </div>
              <div class="text-left mx-6">
                <h3 class="text-lg font-bold">
                  <a class href={post.url} class="text-persianmosaic-700">
                    {post.frontmatter.wstitle}
                  </a>
                </h3>
                <p class="text-sm font-bold"> {post.frontmatter.wsunderviser}</p>
                <span class="text-xs">{post.frontmatter.wsdato}</span>

                <p class="text-sm"> {post.frontmatter.kortversion}</p>
                <a href={post.url} class="">
                  <div class="m-5">
                    {" "}
                    <Button>LÆS MERE</Button>
                  </div>
                </a>
              </div>
            </div>
          </li>
        ))
      }
    </ul>

    <!-- slut på alt hvad der omhandler lists til nyheder -->
    <button id="prevbtn" type="button" class="flex absolute top-1/2 left-3 z-40 items-center justify-center w-10 h-5 bg-rod-300 hover:bg-rod-600 focus:outline-none transition">
      <svg class="w-5 h-5 text-pink-50" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-width="3" d="M15 19l-7-7 7-7"></path>
      </svg>
    </button>
    <button id="nextbtn" type="button" class="flex absolute top-1/2 right-3 z-40 items-center justify-center w-10 h-5 bg-rod-300 hover:bg-rod-600 focus:outline-none transition">
      <svg class="w-5 h-5 text-pink-50" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-width="3" d="M9 5l7 7-7 7"></path>
      </svg>
    </button>
  </section>

  <div class="h-40 grid text-sm xl:text-lg justify-center bg-pink-50"><p class="mt-20 text-rod-500">Footer</p></div>

  <script>
    const prevBtn = document.querySelector("#prevbtn");
    const nextBtn = document.querySelector("#nextbtn");
    const slide = document.querySelector("#slide");
    const wrapper = document.querySelector("#wrapper");
    let count = 0;
    prevBtn.style.visibility = "hidden";

    nextBtn.addEventListener("click", () => {
      count++;
      if (count === 5) {
        nextBtn.style.visibility = "hidden";
      } else if (count >= 1) {
        prevBtn.style.visibility = "visible";
      }
      const scrollAmount = slide.offsetWidth;
      wrapper.scrollBy({
        left: scrollAmount,
        behavior: "smooth",
      });
    });

    prevBtn.addEventListener("click", () => {
      count--;

      if (count === 0) {
        prevBtn.style.visibility = "hidden";
      } else if (count >= 1) {
        prevBtn.style.visibility = "visible";
        nextBtn.style.visibility = "visible";
      }
      const scrollAmount = slide.offsetWidth;
      wrapper.scrollBy({
        left: -scrollAmount,
        behavior: "smooth",
      });
    });
  </script>
</MainLayout>
