---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Image from "astro/components/Image.astro";
import danceMotherFuckerDance from "../assets/images/dance-motherfucker-dance.jpg";
const dansehold = await Astro.glob("./dansehold/*.md");
const sorteredenyheder = dansehold.sort((a, b) => Date.parse(b.frontmatter.dato) - Date.parse(a.frontmatter.dato));
const udvalgtenyheder = sorteredenyheder.slice(0, 6);
---

<MainLayout title="Titel">
  <article class="relative mb-16">
    <Image src={danceMotherFuckerDance} alt="" class="" />
    <div class="@container absolute top-0 left-1/4 w-1/2">
      <h1 class="">Dansestudiet</h1>
    </div>
  </article>
  <div class="grid justify-items-center"><h2 class="mb-8 font-display text-4xl">Dansehold denne sæson</h2></div>
  <div class="max-w-xs mx-auto p-4">
    <section class="mb-16">
      <!-- alt hvad der omhandler lists til nyheder -->

      <ul>
        {
          udvalgtenyheder.map((post) => (
            <li class="">
              <div class=" grid justify-items-center text-center text-rod-600 bg-pink-100 mt-2 p-2">
                <div class="">
                  <img src={post.frontmatter.coverimage} alt={post.frontmatter.coveralt} class="h-28 w-28 my-5" />
                </div>
                <div class="">
                  <h3 class="text-lg font-bold">
                    <a class href={post.url} class="text-persianmosaic-700">
                      {post.frontmatter.title}
                    </a>
                  </h3>
                  <p class="text-sm"> {post.frontmatter.underviser}</p>
                  <span class="text-xs">{post.frontmatter.dato}</span>
                  <p class="text-sm"> {post.frontmatter.niveau}</p>
                  <p class="text-sm"> {post.frontmatter.pris}</p>
                  <p class="text-sm"> {post.frontmatter.sted}</p>
                  <p class="text-sm"> {post.frontmatter.kortversion}</p>
                  <a href={post.url} class="">
                    <Button>Læs mere</Button>
                  </a>
                </div>
              </div>
            </li>
          ))
        }
      </ul>

      <!-- slut på alt hvad der omhandler lists til nyheder -->
    </section>
  </div>
</MainLayout>
