---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Image from "astro/components/Image.astro";
import danceMotherFuckerDance from '../assets/images/dance-motherfucker-dance.jpg';
const nyheder = await Astro.glob('./nyheder/*.md');
const sorteredenyheder = nyheder.sort((a, b) => Date.parse(b.frontmatter.dato) - Date.parse(a.frontmatter.dato));
const udvalgtenyheder = sorteredenyheder.slice(0, 3);
---
<MainLayout title="Titel">
	<article class="relative mb-16">
		<Image src={danceMotherFuckerDance} alt="dance motherfucker dance" class=""/>
		<div class="@container absolute top-0 left-1/4 w-1/2 ">
			<h1 class="text-white text-[14cqw] mt-[22cqi]">Dance, motherfucker, dance!</h1>
		</div>
		
	</article>

	<div class="max-w-5xl mx-auto p-4">	
		<section class="mb-16">
			<h2 class="mb-8 text-4xl">Nyheder</h2>
			<!-- alt hvad der omhandler lists til nyheder -->
			<ul>
				{udvalgtenyheder.map(post => 
				<li class="">
					<div class="">
					<img src={post.frontmatter.coverimage} alt={post.frontmatter.coveralt} class="" />
					</div>
					<div class="">
						<h3><a href={post.url} class="">{post.frontmatter.title}</a></h3>
						<span class="">{post.frontmatter.dato}</span>
						<p>{post.frontmatter.kortversion}</p>
						<a href={post.url} class="">Læs mere...</a>
					</div>
				</li>
				)}
			</ul>
			<!-- slut på alt hvad der omhandler lists til nyheder -->
		</section>

		<section x-data="{ alledansehold: []}" x-init="alledansehold = await (await fetch('dansehold.json')).json(); alledansehold.reverse();" class="mb-16">
			<h2 class="my-8 text-4xl">Dansehold Efterår 2024</h2>
			<!-- alt hvad der omhandler cards til dansehold -->
			<section class="">
				<template x-for="dansehold in alledansehold" :key="dansehold.id">	
					<article class="">
						<a href="#">
							<header class="">
								<img :src="dansehold.holdbillede" :alt="dansehold.hodlbilledealt" class="">
								<div class="" x-show="">Nyt hold!</div>
								<div class="" x-show="dansehold.rabat"><span x-text="dansehold.rabatsats"></span> rabat!</div>
								<div class="" x-show="(dansehold.pladserpaaholdet - dansehold.antaldeltagere) < 5">Kun få pladser tilbage!</div>
							</header>
							<section class="">
								<h3 class="" x-text="dansehold.holdnavn"></h3>
								<div class="">
									<div class="venstre">
										<div><span>Tid: </span><span x-text="dansehold.tidspunkt"></span></div>
										<div><span>Alder: </span><span x-text="dansehold.alder"></span></div>
										<div><span>Niveau: </span><span x-text="dansehold.niveau"></span></div>
									</div>
									<div class="hoejre">
										<div><span>Deltagere: </span><span x-text="dansehold.pladserpaaholdet"></span></div>
										<div><span>Lokale: </span><span x-text="dansehold.lokale"></span></div>
									</div>
								</div>
								<p class="" x-text="dansehold.holdbeskrivelse"></p>	
							</section>
							<hr />
							<section class="">
								<div class=""><img :src="dansehold.underviserfoto" :alt="dansehold.underviserfotoalt" class=""></div>
								<div class="">
									<p class="">Underviser: <span href="#" x-text=""></span></p>
									<p x-text="dansehold.underviserinfo"></p>
								</div>
							</section>
						</a>
					</article>
				</template>
			</section>
			<!-- slut på alt hvad der omhandler cards til dansehold -->
		</section>
	</div>
</MainLayout>